<html>
<head>
	<title>Post</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<link href='http://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Fugaz+One' rel='stylesheet' type='text/css'>

</head>
<body>
	
	<div id='page_content'>
		<div id='page_content'>
		<h2>Posts for <%= category.name %></h2>
		<h3><em>...<%= category.description %></em></h3>
		
		
		<div id='newPost'>
		<h3> <%= post.title %> </h3>
		<% content =post.content %>
		<p><%= Kramdown::Document.new(content).to_html %></p>
		<p><em>By: <%= post.author %> <%= post.created_at %></em></p>
		<% if post.expiration == true %>
			<p>This post expires on <%= post.exp_date %></p>
			<% end %>
			<div id='vote'>
			<p><em>Total Votes: <% sum = post.upvote + post.downvote %><%= sum %> </em></p>
					<form action='/category/<%= category.name %>/post/<%= post.id %>/upvote' method='POST'>
						<input type='hidden' name='_method' value='PUT'>
						<button>UPVOTE</button>
					</form>
					<form action='/category/<%= category.name %>/post/<%= post.id %>/downvote' method='POST'>
						<input type='hidden' name='_method' value='PUT'>
						<button>DOWNVOTE</button>
					</form>
		</div id='vote'>
		</div id='newPost'>


		<h3>Leave a comment</h3>
		<div id='comments'>
			

			<form action='/category/<%= category.name %>/post/<%= post.id %>/comment' method='POST'>
				<input type='text' name='title' placeholder='Title'>
				<input type='text' name='author' placeholder='Your Name'>
				<input type='text' name='comment' placeholder='Comment'>
				<button>Submit</button>
			</form>

			<% comments.each do |comment| %>
				<h4><%= comment.title %></h4>
				<p><%= comment.content %></p>
				<% if comment.author != ''%>
					<p>Posted by: <%= comment.author %></p>
				<% else %>
					<p> Posted by: Anonymous </p>
				<% end %>
			<% end %>

		</div id='comments'>



		<h3> Other Posts in this Category</h3>
		<% posts.each do |post| %>
			<div class='posts'><a href="/category/<%= category.name %>/post/<%= post.id %>"><%= post.title %></a></div>
			<% end %>
			</div>
	</div id='page_content'>

	<div id='sidebar'>
		<h1><a href='/'>Welcome</a></h1>
		<h3>Browse Categories:</h3>
		<ul>
		<% categories.each do |category| %>
			<li><a href='/category/<%= category.name %>'><%= category.name %></a></li>
			<% end %>
		</ul>
	</div id='sidebar'>



</body>
</html>