<html>
<head>
	<title>Post</title>
</head>
<body>
	<% post %>

	<h3> <%= post.title %> </h3>
	<h4><em><%= post.cat_name %></h4>
	<p> <%= post.content %></p>
	<p><em>By: <%= post.author %> <%= post.created_at %></em></p>
	<% if post.expiration == true %>
		<p>This post expires on <%= post.exp_date %></p>
		<% end %>


	
</body>
</html>